.home-title {
  transition: transform 0.2s;
}

.home-title:hover {
  transform: scale(1.1);
}

.menu-icons {
  transition: transform 0.2s;
}

.menu-icons:hover {
  transform: scale(1.1);
}

/* .home-page {
  background: #5f2c82;
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
  background: linear-gradient(to right, #49a09d, #5f2c82);
  overflow-y: auto;
} */

.home-page {
  background: url("/static/images/alka-bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}
.home-grid {
  background: rgba(255, 0, 0, 0.2);
}

.avatar-img {
  transition: transform 0.2s;
}

.avatar-img:hover {
  transform: scale(1.1);
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 70%;
  margin: auto;
  border-radius: 10px;
  height: 65%;
  padding-top: 0.1em;
  padding-bottom: 5em;
}

.banner-text h2 {
  padding-top: 0.3em;
  font-size: 3.0vw;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: auto;
}

.banner-text h4 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 2.0vw;
  font-weight: bold;
  color: white;
  text-align: center;
}

.banner-text hr {
  border-top: 0.3vw dotted white;
  border-bottom: none;
  width: 50%;
  margin-top: 1em;
}

.banner-text p {
  color: white;
  font-size: 1.25vw;
  padding-top: 0.7em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: antiquewhite;
  font-size: 4vw;
  transition: transform 0.2s;
}

.social-links i:hover {
  transform: scale(1.1);
  color: #6e1cf1;
}

.paper-left {
  background: #5f2c82;
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
  background: linear-gradient(to right, #49a09d, #5f2c82);
}

.paper-right {
  padding: 2em;
  padding-bottom: 5em;
}

.paper-right h2 {
  font-size: 2vw;
  font-style: italic;
}

.experience p {
  font-size: 0.85vw;
}

.experience p strong {
  font-size: 0.85vw;
  font-weight: bold;
  font-style: italic;
}

.education p {
  font-size: 0.85vw;
}

.education p strong {
  font-size: 0.85vw;
  font-weight: bold;
  font-style: italic;
}

.skill {
  margin-bottom: 1.5em;
}
.skill span {
  font-size: 1vw;
}

.project-container {
  position: fixed;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin: auto;
  height: 100vh;
  width: 100%;
  padding: 2em;
  padding-bottom: 5em;
  overflow-y: auto;
  background-color: rgb(250, 250, 250);
  /* background: #5f2c82;
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
  background: linear-gradient(to right, #49a09d, #5f2c82); */
}

/* .projects-grid {
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: space-between;
  margin: auto;
} */

.project-header {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.project-card-paper {
  background-color: black;
  -webkit-box-shadow: 21px -22px 34px -2px rgba(124, 156, 194, 1);
  -moz-box-shadow: 21px -22px 34px -2px rgba(124, 156, 194, 1);
  box-shadow: 21px -22px 34px -2px rgba(124, 156, 194, 1);
}

.project-card {
  margin: auto;
  transition: transform 0.2s;
  -webkit-box-shadow: 21px -22px 34px -2px rgba(124, 156, 194, 1);
  -moz-box-shadow: 21px -22px 34px -2px rgba(124, 156, 194, 1);
  box-shadow: 21px -22px 34px -2px rgba(124, 156, 194, 1);
}
.project-card:hover {
  transform: scale(1.05);
  box-shadow: darkgray;
}

.project-card-grid {
  display: flex;
  text-align: center;
  justify-content: center;
}

.project-link {
  text-decoration: none;
  border-radius: 5px;
  background: #dae2f8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d6a4a4,
    #dae2f8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d6a4a4,
    #dae2f8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.project-link:hover {
  background: orange;
}




/* ********************************************************************************************************************* */




.iris-form-container {
  text-align: center;
  margin: auto;
  height: 100px;
  margin-left: 2em;
}

.iris3d-form-container {
  text-align: center;
  margin: auto;
  height: 100px;
  margin-left: 2em;
}

.iris-plot-container {
  text-align: center;
  /* padding-bottom: 20px; */
}

.iris3d-plot-container {
  text-align: center;
  /* padding-bottom: 20px; */
}

.circle-tick,
.title-class,
.circle-class {
  cursor: pointer;
}

.intro-text {
  transform: translate(790px, 10px);
}

/* .circle-class {
  transition: transform 0.1s;
}

.circle-class:hover {
  transform: scale(1.1);
} */

.legend-container-3d {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

.iris-3d-div {
  /* width: 5vh;
  height: 5vh; */
  margin-left: 0;
  padding-left: 0;
}

.iris-form-container-tsne {
  /* display: flex; */
  text-align: center;
  /* align-items: center; */
}

/* .iris-plot-grid-tsne {
  border: rgb(119, 194, 212) solid 2px;
  border-radius: 10px;
} */

.iris-tsne-plot-container {
  border: rgb(119, 194, 212) solid 2px;
  border-radius: 10px;
}

.digit-draw-canvas {
  border: cornflowerblue solid 5px;
}
