.home-title {
  transition: transform 0.2s;
}

.home-title:hover {
  transform: scale(1.1);
}

.menu-icons {
  transition: transform 0.2s;
}

.menu-icons:hover {
  transform: scale(1.1);
}

.home-page {
  background: url("/static/images/alka-bg.jpg");
  height: 95%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}
.home-grid {
  background: rgba(255, 0, 0, 0.2);
}

.avatar-img {
  transition: transform 0.2s;
}

.avatar-img:hover {
  transform: scale(1.1);
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 60%;
  margin: auto;
  border-radius: 10px;
  height: 40vmin;
  padding-top: 1.5em;
  padding-bottom: 3em;
}

.banner-text h2 {
  padding-top: 0.3em;
  font-size: 3.0vw;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: auto;
}

.banner-text h4 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 2.0vw;
  font-weight: bold;
  color: white;
  text-align: center;
}

.banner-text hr {
  border-top: 0.3vw dotted white;
  border-bottom: none;
  width: 50%;
  margin-top: 1em;
}

.banner-text p {
  color: white;
  font-size: 2.1vmin;
  padding-top: 0.7em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  margin-bottom: 3em;
  padding-bottom: 3em;
}

.social-links i {
  color: antiquewhite;
  font-size: 7vmin;
  transition: transform 0.2s;
}

.stack-overflow-icon {
  color: antiquewhite;
  font-size: 7vmin;
  transition: transform 0.2s;
}

.social-links i:hover {
  transform: scale(1.1);
  color: #6e1cf1;
}

.stack-overflow-icon:hover {
  transform: scale(1.5);
  color: #6e1cf1;
}

.paper-left {
  background: #5f2c82;
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
  background: linear-gradient(to right, #49a09d, #5f2c82);
}

.paper-right {
  padding: 2vmin;
  padding-bottom: 5em;
}

.paper-right h2 {
  font-size: 3vmin;
  font-style: italic;
}

.experience p {
  font-size: 2vmin;
}

.experience p strong {
  font-size: 2vmin;
  font-weight: bold;
  font-style: italic;
}

.education p {
  font-size:2vmin;
}

.education p strong {
  font-size: 2vmin;
  font-weight: bold;
  font-style: italic;
}

.skill {
  margin-bottom: 1.5vmin;
}
.skill span {
  font-size: 2vmin;
}

/* ********************************************************************************************************************* */


.iris-form-container {
  text-align: center;
  margin: auto;
  height: 8vmin;
  margin-left: 2em;
}

.iris3d-form-container {
  text-align: center;
  margin: auto;
  height: 100px;
  margin-left: 2em;
}

.iris-plot-container {
  text-align: center;
  /* padding-bottom: 20px; */
}

.iris3d-plot-container {
  text-align: center;
  /* padding-bottom: 20px; */
}

.circle-tick,
.title-class,
.circle-class {
  cursor: pointer;
}


.legend-container-3d {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

.iris-3d-div {
  /* width: 5vh;
  height: 5vh; */
  margin-left: 0;
  padding-left: 0;
}

.iris-form-container-tsne {
  /* display: flex; */
  text-align: center;
  /* align-items: center; */
}

.iris-tsne-plot-container {
  border: rgb(119, 194, 212) solid 2px;
  border-radius: 10px;
}

.digit-draw-canvas {
  border:#7d2ab0 solid 10px;
}

.tmp-color {
  color: #c1cfcf;
}