.iris-form-container {
  text-align: center;
  margin: auto;
  height: 100px;
  margin-left: 2em;
}

.iris3d-form-container {
  text-align: center;
  margin: auto;
  height: 100px;
  margin-left: 2em;
}

.iris-plot-container {
  text-align: center;
  /* padding-bottom: 20px; */
}

.iris3d-plot-container {
  text-align: center;
  /* padding-bottom: 20px; */
}

.circle-tick,
.title-class,
.circle-class {
  cursor: pointer;
}

.intro-text {
  transform: translate(790px, 10px);
}

/* .circle-class {
  transition: transform 0.1s;
}

.circle-class:hover {
  transform: scale(1.1);
} */

.legend-container-3d {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

.iris-3d-div {
  /* width: 5vh;
  height: 5vh; */
  margin-left: 0;
  padding-left: 0;
}

.iris-form-container-tsne {
  /* display: flex; */
  text-align: center;
  /* align-items: center; */
}

/* .iris-plot-grid-tsne {
  border: rgb(119, 194, 212) solid 2px;
  border-radius: 10px;
} */

.iris-tsne-plot-container {
  border: rgb(119, 194, 212) solid 2px;
  border-radius: 10px;
}
